<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :motivation %>
    <%= form.text_area :motivation %>
  </div>

  <div class="field">
    <%= form.label :hobby %>
    <%= form.text_area :hobby %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_area :country %>
  </div>

  <div class="field">
    <%= form.label :culture %>
    <%= form.text_area :culture %>
  </div>

  <div class="field">
    <%= form.label :work %>
    <%= form.text_area :work %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
