<h1>Editando Identificação de <%= @user.person.first_name %> <%= @user.person.last_name %></h1>
<%= form_with(model: [ :backoffice, @user, @person ], local: true) do |form| %>

  <div class="field">
    <%= form.label 'Nome' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label 'Sobrenome' %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label 'Telefone' %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label 'Data de Nascimento' %>
    <%= form.date_select :birthdate %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>