<h1>Editando Identificação de <%= @user.person.first_name %> <%= @user.person.last_name %></h1>
<%= form_with(model: [ :backoffice, @user, @person ], local: true) do |form| %>

  <div class="field">
    <%= form.label 'Nome' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label 'Sobrenome' %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <label for="country_code">Código do País</label><br>
      <%= form.text_field :country_code, id:'country_code', :maxlength => 4, value:'+55', placeholder:'digite somente números' %>
  </div>

  <div class="field">
    <%= form.label 'Telefone' %>
    <%= form.text_field :phone_number, id:'phone', :maxlength => 14, placeholder:'digite somente números' %>
  </div>

  <div class="field">
    <%= form.label 'Data de Nascimento' %>
    <%= form.date_field :birthdate %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
<script src="/assets/javascripts/phone.js"></script>