<p id="notice"><%= notice %></p>

<h1>Status</h1>
<div class="card-display">
  <div class="container-flex, container-table">
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @statuses.each do |status| %>
          <tr>
            <td><%= status.status_name %></td>
            <td><%= link_to 'Editar', edit_backoffice_status_path(status) %></td>
            <td><%= link_to 'Deletar', backoffice_status_path(status), method: :delete, data: { confirm: 'Confirma a exclusão? A ação não poderá ser desfeita.' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container-btn">
    <%= link_to 'Cadastrar Novo Status', new_backoffice_status_path, class:"create-btn" %>
  </div>
</div>
