<p id="notice"><%= notice %></p>

<h1>Idioms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idioms.each do |idiom| %>
      <tr>
        <td><%= idiom.name %></td>
        <td><%= link_to 'Visualizar', backoffice_idiom_path(idiom) %></td>
        <td><%= link_to 'Editar', edit_backoffice_idiom_path(idiom) %></td>
        <td><%= link_to 'Deletar', backoffice_idiom_path(idiom), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Idioma', new_backoffice_idiom_path %>
