<p id="notice"><%= notice %></p>
<h1>Idiomas</h1>
<div class="card-display">
  <div "container-flex, container-table">
    <table>
      <thead>
        <tr>
          <th>Idioma</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @idioms.each do |idiom| %>
          <tr>
            <td><%= idiom.name %></td>
            <td><%= link_to 'Editar', edit_backoffice_idiom_path(idiom) %></td>
            <td><%= link_to 'Deletar', backoffice_idiom_path(idiom), method: :delete, data: { confirm: 'Confirma a exclusão? A ação não poderá ser desfeita.' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container-btn">
    <%= link_to 'Cadastrar Idioma', new_backoffice_idiom_path, class:"create-btn" %>
  </div>
</div>
