<%= form_with(model: [ :backoffice, @company ], local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nome Fantasia' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'CNPJ' %>
    <%= form.text_field :cnpj, id:'cnpj', :maxlength => 18, placeholder:'digite somente números' %>
  </div>

  <div class="field">
    <%= form.label 'Nome do Representante' %>
    <%= form.text_field :legal_representative %>
  </div>

  <div class="field">
    <%= form.label 'Telefone' %>
    <%= form.text_field :phone_number, id:'phone', :maxlength => 14, placeholder:'digite somente números' %>
  </div>

  <div class="field">
    <%= form.label 'Email' %>
    <%= form.email_field :email %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
<script src="/assets/javascripts/cnpj.js"></script>
<script src="/assets/javascripts/phone.js"></script>