<p id="notice"><%= notice %></p>
<h1>Empresas Parceiras</h1>
<div class="card-display">
  <div class="container-flex, container-table">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.phone_number %></td>
            <td><%= company.email %></td>
            <td><%= link_to 'Mostrar', backoffice_company_path(company) %></td>
            <td><%= link_to 'Editar', edit_backoffice_company_path(company) %></td>
            <td><%= link_to 'Deletar', backoffice_company_path(company), method: :delete, data: { confirm: 'Confirma a exclusão? A ação não poderá ser desfeita.' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container-btn">
    <%= link_to 'Cadastrar Nova Empresa', new_backoffice_company_path, class:"create-btn" %>
  </div>
</div>
