<h1>Cadastrar Matrícula de Professor de <%= @person.first_name %></h1>
<%= form_with(model: [ :backoffice, @user, @teacher ], local: true) do |form| %>

  <div class="field">
    <%= form.label 'Valor / Hora' %>
    <%= form.text_field :fee %>
  </div>

  <div class="field">
    <p>Selecione o Idioma:</p>
    <%= form.select(:idiom_id, Idiom.all.map{|idiom| [idiom.name, idiom.id]}) %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>