<p id="notice"><%= notice %></p>

<h1>Idiom Levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Idiom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idiom_levels.each do |idiom_level| %>
      <tr>
        <td><%= idiom_level.name %></td>
        <td><%= idiom_level.idiom %></td>
        <td><%= link_to 'Show', idiom_level %></td>
        <td><%= link_to 'Edit', edit_idiom_level_path(idiom_level) %></td>
        <td><%= link_to 'Destroy', idiom_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idiom Level', new_idiom_level_path %>
