<p id="notice"><%= notice %></p>

<p>
  <strong>Idiom name:</strong>
  <%= @idiom.idiom_name %>
</p>

<p>
  <strong>Idiom level:</strong>
  <%= @idiom.idiom_level %>
</p>

<%= link_to 'Edit', edit_idiom_path(@idiom) %> |
<%= link_to 'Back', idioms_path %>
