<h1>Editar Horário Disponívl para Aula</h1>
<%= form_with(model: [ :backoffice, @user, @schedule ], local: true) do |form| %>

  <div class="field">
    <%= form.label :day %>
    <%= form.select(:day, options_for_select(["Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"]) ) %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.time_select :hour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>