<h1>Cadastrar Horário Disponívl para Aula</h1>
<%= form_with(model: [ :backoffice, @user, @schedule ], local: true) do |form| %>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.time_select :hour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>