<h1>Editar Perguntas do Plano de Aulas</h1>
<%= form_with(model: [ :backoffice, @user, @question ], local: true) do |form| %>

  <div class="field">
    <%= form.label '1. Quais os motivos que levaram você a optar por estudar esse idioma?' %>
    <%= form.text_area :motivation %>
  </div>

  <div class="field">
    <%= form.label '2. Quais os seus hobbies e interesses gerais?' %>
    <%= form.text_area :hobby %>
  </div>

  <div class="field">
    <%= form.label '3. Identifique um país, cuja cultura lhe interesse bastante.' %>
    <%= form.text_area :country %>
  </div>

  <div class="field">
    <%= form.label '4. Caso não tenha classificado nenhum esporte no item 2, identifique um esporte de seu interesse, um tipo de música (pop, rock, reggae, etc...) e um ou dois cantores / grupos musicais que lhe agradem: (no caso de espanhol: tango, rumba, mambo, música flamenga, etc.).' %>
    <%= form.text_area :culture %>
  </div>

  <div class="field">
    <%= form.label '5. Com que profissionais interage em inglês na sua profissão e com que tipo de abordagens?' %>
    <%= form.text_area :work %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>

<% end %>