<%= form_with(model: [@person, teacher], local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fee %>
    <%= form.text_field :fee %>
  </div>

  <div class="field">
    <%= form.label :idiom_id %>
    <%= form.text_field :idiom_id %>
  </div>

  <div class="field">
    <%= form.label :class_day_id %>
    <%= form.text_field :class_day_id %>
  </div>

  <div class="field">
    <%= form.label :class_hour_id %>
    <%= form.text_field :class_hour_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
