<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=5"/>
        <meta name="robots" content="noindex">
        <link rel="shortcut icon" href="assets/images/code-solid.svg" type="image/x-icon" />
        <title>Esqueceu a Senha? | Aliança Cultural Idiomas</title>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet-login.css">
    </head>
    <body>
        <section class="container-login">
          <div>
            <div>
              <img class="logo-img" src="https://aliancacultural.com/wp-content/uploads/2020/08/ALIANCA-CULTURAL-LOGO-152x152-1.png" alt="Logotipo da Aliança Cultural Idiomas." width="150px" />
              <h1>Esqueceu a Senha?</h1>
              <p>Preencha o formulário abaixo para cadastrar uma nova senha.</p>
            </div>
            <div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
            
              <div class="field">
                <div class="label"><%= f.label :email %></div>
                <div class="field-label"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
              </div>
            
              <div class="actions">
                <%= f.submit "Send me reset password instructions" %>
              </div>
            <% end %>

            <%= render "users/shared/links" %>
            </div>
          </div>
        </section>
    </body>
</html>