<p id="notice"><%= notice %></p>

<h1>Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Number</th>
      <th>Complement</th>
      <th>Neighborhood</th>
      <th>City</th>
      <th>State</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.street %></td>
        <td><%= adress.number %></td>
        <td><%= adress.complement %></td>
        <td><%= adress.neighborhood %></td>
        <td><%= adress.cep %></td>
        <td><%= adress.city %></td>
        <td><%= adress.state %></td>
        <td><%= adress.person.first_name %></td>
        <td><%= link_to 'Show', backoffice_person_adress_path(@person, adress) %></td>
        <td><%= link_to 'Edit', edit_backoffice_person_adress_path(@person, adress) %></td>
        <td><%= link_to 'Destroy', backoffice_person_adress_path(@person, adress), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adress', new_backoffice_person_adress_path(@person) %>
<%= link_to 'Voltar', "/profile" %>
