<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @adress.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @adress.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @adress.complement %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @adress.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @adress.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @adress.state %>
</p>

<p>
  <strong>Person:</strong>
  <%= @adress.person.first_name %>
</p>

<%= link_to 'Edit', edit_backoffice_person_adress_path(@person, @adress) %> |
<%= link_to 'Back', backoffice_person_adresses_path(@person) %>
