<h1>Cadastro de <%= @user.person.first_name %> <%= @user.person.last_name %></h1>
<div class="card-display">
  <h2><span class="material-icons-sharp">account_circle</span> Informações Pessoais</h2>
  <div class="container-flex">
    <div>
      <h3><strong><span class="material-icons-sharp">person</span> Nome completo:</strong> <%= @user.person.first_name %> <%= @user.person.last_name %></h3>
      <h3><strong><span class="material-icons-sharp">phone_iphone</span> Telefone:</strong> <%= @user.person.phone_number %></h3>
      <h3><strong><span class="material-icons-sharp">mail</span> E-mail:</strong> <%= @user.email %></h3>
    </div>
    <div>
      <h3><strong><span class="material-icons-sharp">badge</span> Status:</strong> <%= @user.status.status_name %></h3>
      <h3><strong><span class="material-icons-sharp">calendar_month</span> Data de nascimento:</strong> <%= @user.person.birthdate %></h3>
    </div>
  </div>
  <button type="button" onclick="location.href = 'www.yoursite.com';" class="edit-btn">Editar <span class="material-icons-sharp">draw</span></button>
  <button type="button" onclick="location.href = 'www.yoursite.com';" class="exclude-btn">Excluir <span class="material-icons-sharp">delete_forever</span></button>
</div>
<div class="card-display">
  <h2><span class="material-icons-sharp">pin_drop</span> Endereço</h2>
  <table>
    <thead>
      <tr>
        <th>Rua</th>
        <th>Numero</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>CEP</th>
        <th>Cidade</th>
      </tr>
    </thead>
    <tbody>
      <% @user.person.adresses.each do |adress| %>
        <tr>
          <td><%= adress.street %></td>
          <td><%= adress.number %></td>
          <td><%= adress.complement %></td>
          <td><%= adress.neighborhood %></td>
          <td><%= adress.state %></td>
          <td><%= adress.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button type="button" onclick="location.href = '/'" class="edit-btn">Editar <span class="material-icons-sharp">draw</span></button>
</div>
<div class="card-display">
  <h2>Matrícula Aluno</h2>
  <table>
    <thead>
      <tr>
        <th>Idioma</th>
        <th>Nível</th>
        <th>Professor</th>
        <th>Dias Disponíveis</th>
        <th>Horários Disponíveis</th>
      </tr>
    </thead>
    <tbody>
      <% @user.person.adresses.each do |adress| %>
        <tr>
          <td><%= adress.street %></td>
          <td><%= adress.number %></td>
          <td><%= adress.complement %></td>
          <td><%= adress.neighborhood %></td>
          <td><%= adress.state %></td>
          <td><%= adress.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button type="button" onclick="location.href = '/'" class="edit-btn">Editar <span class="material-icons-sharp">draw</span></button>
</div>
<div class="card-display">
  <h2>Matrícula Professor</h2>
  <table>
    <thead>
      <tr>
        <th>Idioma</th>
        <th>Valor Hora</th>
        <th>Dias Disponíveis</th>
        <th>Horários Disponíveis</th>
      </tr>
    </thead>
    <tbody>
      <% @user.person.teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.idiom.name %></td>
          <td><%= teacher.fee %></td>
          <td><%= teacher.class_day.name %></td>
          <td><%= teacher.class_hour.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button type="button" onclick="location.href = '/'" class="edit-btn">Editar <span class="material-icons-sharp">draw</span></button>
</div>
