<h1>Editando Informações de Acesso</h1>
<%= form_with(model: [ :backoffice, @user], local: true) do |f| %>

  <%= render "form", f: f %>

  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'Senha' %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label 'Confirmação de Senha' %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
