<div class="insights">
  <!-- Card Students -->
  <div class="sales">
    <span class="material-icons-sharp">group</span>
    <div class="middle">
      <div class="left">
        <h3>Total de Estudantes</h3>
        <h1><%= Student.count %></h1>
      </div>
    </div>
  </div>
  <!-- End of Students -->
  <!-- Card Teachers -->
  <div class="expenses">
    <span class="material-icons-sharp">school</span>
    <div class="middle">
      <div class="left">
        <h3>Total de Professores</h3>
        <h1><%= Teacher.count %></h1>
      </div>
    </div>
  </div>
  <!-- End of Card Teachers -->
</div>
<!-- Table of Users -->
<div class="card-display">
  <div>
    <div>
      <h2>Filtros de Pesquisa</h2>
    </div>
    <div>
      <%= form_with(url: backoffice_users_path, local: true, method: :get) do |form| %>
        <div>
          <label>Nome</label>
          <%= form.text_field :term, placeholder:"Digite sua pesquisa..." %>
        </div>
        <div class="container-search-form">
          <div>
            <label>Dias da Semana</label>
            <%= form.select(:day, options_for_select(["Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"]), {:include_blank => 'Selecione'} ) %>
          </div>
          <div>
            <label>Hora Inicial</label>
            <%= form.time_field :initial_hour %>
            <label>Hora Final</label>
            <%= form.time_field :final_hour %>
          </div>
        </div>
        <div>
          <button class="edit-btn" type="submit">Pesquisar</button>
        </div>
      <% end %>
      </div>
  </div>
</div>
<div class="card-display">
  <div class="container-flex, container-table">
    <div>
      <h2>Usuários</h2>
    </div>
    <div class="create-user-btn">
      <%= link_to new_backoffice_user_path do %>
          Cadastrar Novo
      <% end %>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Perfil</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.person.first_name %></td>
          <td><%= user.person.last_name %></td>
          <td>
            <% user.roles.each do |role| %>
              <%= role.name %>
            <% end %>
          </td>
          
          <td>
          <%= link_to backoffice_user_path(user), class:"material-icons-sharp" do %>
            <span class="material-icons-sharp">visibility</span> 
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pag">
  <%= paginate @users %>
  </div>
</div>
<!-- End of Table of Users -->
