<h1>Matrícula de <%= @user.person.first_name %> <%= @user.person.last_name %></h1>
<div class="card-display">
  <h2><span class="material-icons-sharp">person</span> Informações Pessoais</h2>
  <div class="container-flex">
    <div>
      <h3><strong><span class="material-icons-sharp">person</span> Nome completo:</strong> <%= @user.person.first_name %> <%= @user.person.last_name %></h3>
      <h3><strong><span class="material-icons-sharp">phone_iphone</span> Telefone:</strong> <%= @user.person.phone_number %></h3>
    </div>
    <div>
      <h3><strong><span class="material-icons-sharp">calendar_month</span> Data de nascimento:</strong> <%= @user.person.birthdate %></h3>
    </div>
  </div>
  <div class="container-btn">
    <%= link_to edit_backoffice_user_person_path(@user), class:"edit-btn" do %>
      Editar
    <% end %>
  </div>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">summarize</span> Documentos Pessoais</h2>
  <% if @user.person.document.present? %>
    <div class="container-flex">
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Identidade:</strong> <%= @user.person.document.identity %></h3> 
        <h3><strong><span class="material-icons-sharp">calendar_month</span> CPF:</strong> <%= @user.person.document.cpf %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Nome do Pai:</strong> <%= @user.person.document.father_name %></h3>
      </div>
      <div>
        <h3><strong><span class="material-icons-sharp">mail</span> Orgão Expeditor:</strong> <%= @user.person.document.expeditor %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Nacionalidade:</strong> <%= @user.person.document.nacionality %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Nome da Mãe:</strong> <%= @user.person.document.mother_name %></h3>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_document_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
  <% else %>
    <p>Docmentos ainda não preenchidos. Clique no botão abaixo para preencher os documentos pessoais.</p>
    <div class="container-btn">
      <%= link_to new_backoffice_user_document_path(@user), class:"create-btn" do %>
        Cadastrar Documentos
      <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">pin_drop</span> Endereço</h2>
  <% if @user.person.adress.present? %>
    <div class="container-flex">
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Rua:</strong> <%= @user.person.adress.street %></h3>
        <h3><strong><span class="material-icons-sharp">mail</span> Complemento:</strong> <%= @user.person.adress.complement %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> CEP:</strong> <%= @user.person.adress.cep %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Estado:</strong> <%= @user.person.adress.state %></h3>
      </div>
      <div>
        <h3><strong><span class="material-icons-sharp">phone_iphone</span> Número:</strong> <%= @user.person.adress.number %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Bairro:</strong> <%= @user.person.adress.neighborhood %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Cidade:</strong> <%= @user.person.adress.city %></h3>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_adress_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
  <% else %>
    <p>Endereço ainda não cadastrado. Clique no botão abaixo para cadastrar o endereço.</p>
    <div class="container-btn">
        <%= link_to new_backoffice_user_adress_path(@user), class:"create-btn" do %>
          Cadastrar Endereço
        <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">local_library</span> Matrícula do Aluno</h2>
  <% if @user.person.student.present? %>
    <div class="container-flex">
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Idioma:</strong> <%= @user.person.student.idiom.name %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Nível do Curso:</strong> <%= @user.person.student.idiom_level.name %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Professor:</strong> <%= @user.person.student.teacher.person.first_name %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Responsável Financeiro:</strong> <%= @user.person.student.financial_responsible %></h3>
      </div>
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Profissão:</strong> <%= @user.person.student.occupation %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Cargo:</strong> <%= @user.person.student.position %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Empresa (caso possua convênio):</strong> <%= @user.person.student.company.name rescue "Não se aplica" %></h3>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_student_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
  <% else %>
    <p>Informações da matrícula ainda não cadastradas. Clique no botão abaixo para cadastrar matrícula.</p>
    <div class="container-btn">
      <%= link_to new_backoffice_user_student_path(@user), class:"create-btn" do %>
        Cadastrar Matrícula
      <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">monetization_on</span> Responsável Financeiro</h2>
  <% if @user.person.financial_responsible.present? %>
    <div class="container-flex">
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Nome:</strong> <%= @user.person.financial_responsible.first_name %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Sobrenome:</strong> <%= @user.person.financial_responsible.last_name %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> Telefone:</strong> <%= @user.person.financial_responsible.phone %></h3>        
      </div>
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Email:</strong> <%= @user.person.financial_responsible.email %></h3>
        <h3><strong><span class="material-icons-sharp">person</span> CPF:</strong> <%= @user.person.financial_responsible.cpf %></h3>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_financial_responsible_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
    <div class="container-btn">
    <%= link_to backoffice_user_financial_responsible_path(@user, @user.person.financial_responsible), method: :delete, data: { confirm: 'Confirma a exclusão? A ação não poderá ser desfeita.' }, class:"exclude-btn" do %>
      Excluir
    <% end %>
  </div>
  <% else %>
    <p>Caso o aluno tenha um responsável financeiro, utilize o botão abaixo para cadastrá-lo.</p>
    <div class="container-btn">
      <%= link_to new_backoffice_user_financial_responsible_path(@user), class:"create-btn" do %>
        Cadastrar Responsável
      <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">quiz</span> Questões do Plano de Aulas</h2>
  <% if @user.person.student.present? %>
    <div class="container-flex">
      <div>
        <h3><strong>1. Quais os motivos que levaram você a optar por estudar esse idioma?</strong></h3>
        <p><%= @user.person.question.motivation %></p>
        <h3><strong>2. Quais os seus hobbies e interesses gerais?</strong></h3>
        <p><%= @user.person.question.hobby %></p>
        <h3><strong>3. Identifique um país, cuja cultura lhe interesse bastante.</strong></h3>
        <p><%= @user.person.question.country %></p>
        <h3><strong>4. Caso não tenha classificado nenhum esporte no item 2, identifique um esporte de seu interesse, um tipo de música (pop, rock, reggae, etc...) e um ou dois cantores / grupos musicais que lhe agradem: (no caso de espanhol: tango, rumba, mambo, música flamenga, etc.).</strong></h3>
        <p><%= @user.person.question.culture %></p>
        <h3><strong>5. Com que profissionais interage em inglês na sua profissão e com que tipo de abordagens?</strong></h3>
        <p><%= @user.person.question.work %></p>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_question_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
  <% else %>
    <p>Questões do plano de aulas ainda não respondidas. Clique no botão abaixo para responder questões do plano de aulas.</p>
    <div class="container-btn">
      <%= link_to new_backoffice_user_question_path(@user), class:"create-btn" do %>
        Cadastrar Matrícula
      <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">school</span> Matrícula do Professor</h2>
  <% if @user.person.teacher.present? %>
    <div class="container-flex">
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Idioma:</strong> <%= @user.person.teacher.idiom.name %></h3>
      </div>
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Valor hora:</strong> <%= @user.person.teacher.fee %></h3>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_teacher_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
  <% else %>
    <p>Informações da matrícula ainda não cadastradas. Clique no botão abaixo para cadastrar matrícula.</p>
    <div class="container-btn">
      <%= link_to new_backoffice_user_teacher_path(@user), class:"create-btn" do %>
        Cadastrar Matrícula
      <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">alarm</span> Horários Disponíveis</h2>
  <% if @user.person.schedules.present? %>
    <div class="container-flex">
      <table>
        <thead>
          <tr>
            <th>Dia</th>
            <th>Horário</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.person.schedules.each do |s| %>
            <tr>
              <td><%= s.day %></td>
              <td><%= s.hour.strftime("%H:%M") %></td>
              <td>
                <%= link_to edit_backoffice_user_schedule_path(@user, s) do %>
                  Editar
                <% end %>
              </td>
              <td>
                <%= link_to backoffice_user_schedule_path(@user, s), method: :delete, data: { confirm: 'Confirma a exclusão? A ação não poderá ser desfeita.' } do %>
                  Deletar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container-btn">
      <%= link_to new_backoffice_user_schedule_path(@user), class:"create-btn" do %>
        Cadastrar Horário
      <% end %>
    </div>
  <% else %>
    <p>Você ainda não preencheu os melhores dias e horários disponíveis para as aulas. Que tal fazer isso agora?</p>
    <div class="container-btn">
      <%= link_to new_backoffice_user_schedule_path(@user), class:"create-btn" do %>
        Cadastrar Horário
      <% end %>
    </div>
  <% end %>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">login</span> Informações de Acesso</h2>
  <div class="container-flex">
    <div>
      <h3><strong><span class="material-icons-sharp">badge</span> Perfil:</strong></h3>
      <ul>
        <li>
          <% @user.roles.each do |role| %>
            <%= role.name %>
          <% end %>
        </li>
      </ul>
      <h3><strong><span class="material-icons-sharp">mail</span> E-mail:</strong> <%= @user.email %></h3>
    </div>
    <div>
      <h3><strong><span class="material-icons-sharp">badge</span> Status:</strong> <%= @user.status.status_name %></h3>
      <h3><strong><span class="material-icons-sharp">key</span> Senha:</strong> ******</h3>
    </div>
  </div>
  <div class="container-btn">
    <%= link_to edit_backoffice_user_path(@user), class:"edit-btn" do %>
      Editar
    <% end %>
  </div>
</div>

<div class="container-danger">
  <h2><span class="material-icons-sharp">warning</span> Atenção!</h2>
  <p>Caso tenha interesse em excluir este usuário, clique no botão abaixo. 
  <strong>Observação: após excluir o usuário não será possível recuperar seus dados.</strong></p>      
  <div class="container-btn">
    <%= link_to "/backoffice/users/#{@user.id}/delete", class:"exclude-btn", data: { confirm: 'Confirma a exclusão do usuário? A ação não poderá ser desfeita.' } do %>
      Excluir
    <% end %>
  </div>
</div>
