<h1>Cadastro de <%= @user.person.first_name %> <%= @user.person.last_name %></h1>
<div class="card-display">
  <h2><span class="material-icons-sharp">person</span> Identificação</h2>
  <div class="container-flex">
    <div>
      <h3><strong><span class="material-icons-sharp">person</span> Nome completo:</strong> <%= @user.person.first_name %> <%= @user.person.last_name %></h3>
      <h3><strong><span class="material-icons-sharp">phone_iphone</span> Telefone:</strong> <%= @user.person.phone_number %></h3>
    </div>
    <div>
      <h3><strong><span class="material-icons-sharp">calendar_month</span> Data de nascimento:</strong> <%= @user.person.birthdate %></h3>
    </div>
  </div>
  <div class="container-btn">
    <%= link_to edit_backoffice_user_person_path(@user), class:"edit-btn" do %>
      Editar
    <% end %>
  </div>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">pin_drop</span> Endereço</h2>
  <% if @user.person.adress.present? %>
    <div class="container-flex">
      <div>
        <h3><strong><span class="material-icons-sharp">person</span> Rua:</strong> <%= @user.person.adress.street %></h3>
        <h3><strong><span class="material-icons-sharp">mail</span> Complemento:</strong> <%= @user.person.adress.complement %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> CEP:</strong> <%= @user.person.adress.cep %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Estado:</strong> <%= @user.person.adress.state %></h3>
      </div>
      <div>
        <h3><strong><span class="material-icons-sharp">phone_iphone</span> Número:</strong> <%= @user.person.adress.number %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Bairro:</strong> <%= @user.person.adress.neighborhood %></h3>
        <h3><strong><span class="material-icons-sharp">calendar_month</span> Cidade:</strong> <%= @user.person.adress.city %></h3>
      </div>
    </div>
    <div class="container-btn">
      <%= link_to edit_backoffice_user_adress_path(@user), class:"edit-btn" do %>
        Editar
      <% end %>
    </div>
  <% end %>
  <p>Endereço ainda não cadastrado. Clique no botão abaixo para cadastrar o endereço.</p>
  <div class="container-btn">
      <%= link_to new_backoffice_user_adress_path(@user), class:"create-btn" do %>
        Cadastrar Endereço <span class="material-icons-sharp">
      <% end %>
  </div>
</div>

<div class="card-display">
  <h2><span class="material-icons-sharp">login</span> Informações de Acesso</h2>
  <div class="container-flex">
    <div>
      <h3><strong><span class="material-icons-sharp">mail</span> E-mail:</strong> <%= @user.email %></h3>
    </div>
    <div>
      <h3><strong><span class="material-icons-sharp">badge</span> Status:</strong> <%= @user.status.status_name %></h3>
    </div>
  </div>
  <div class="container-btn">
    <%= link_to edit_backoffice_user_path(@user), class:"edit-btn" do %>
      Editar
    <% end %>
    <%= link_to backoffice_user_path(@user), method: :delete, class:"exclude-btn" do %>
      Excluir 
    <% end %>
  </div>
</div>