<p id="notice"><%= notice %></p>

<h1>Class Hours</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Class day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_hours.each do |class_hour| %>
      <tr>
        <td><%= class_hour.description %></td>
        <td><%= class_hour.class_day %></td>
        <td><%= link_to 'Show', class_hour %></td>
        <td><%= link_to 'Edit', edit_class_hour_path(class_hour) %></td>
        <td><%= link_to 'Destroy', class_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Hour', new_class_hour_path %>
