<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @class_hour.description %>
</p>

<p>
  <strong>Class day:</strong>
  <%= @class_hour.class_day %>
</p>

<%= link_to 'Edit', edit_class_hour_path(@class_hour) %> |
<%= link_to 'Back', class_hours_path %>
